body {
	border: solid;
	padding: 15px;
	border-color: lightgray;
	background-color: #DBCE78;
	text-align: left;
	border-spacing: 2px;
}

.imagem {
	max-width: 300px;
	max-height: 350px;
}

h1 {
	text-align: center;
	font-family: Verdana;
}

h2 {
	font-family: Verdana;
}

h3 {
	font-family: Verdana;
}

p {
	font-family: Verdana;
}

a:link {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

tr, td {
	text-align: right;
	width: 200px;
	padding: 2px;
	border: solid;
	border-color: grey;
	color: black;
}

th {
	text-align: left;
	padding: 2px;
	border: groove;
	border-color: grey;
	color: black;
	background-color: lightgray;
}